@import '../globals.scss';

.core-weather-widget {
    .weather-container {
        display: inline-block;
        width: 100%;
        height: auto;
        position: relative;
    }

    .today {
        height: 50%;
        width: 100%;
    }

    .today .weather-icon, .today .conditions {
        display: block;
        float: left;
    }

    .today .weather-icon {
        height: 100%;
        width: 50%;
        text-align: center;
    }

    .today .weather-icon svg {
        height: 60%;
    }

    .today .conditions {
        height: 100%;
        width: 50%;
        text-align: center;
    }

    .today .temperature {
        display: inline-flex;
        flex-direction: column;
        justify-content: center;
        font-size: 4em;
        font-weight: bold;
        height: 100%;
        width: 60%;
    }

    .today .highlow {
        display: inline-block;
        border-left: 1px solid;
        width: 40%;
    }

    .five-day {
        height: 50%;
        width: 100%;
    }

    .five-day .day {
        text-transform: uppercase;
    }

    .five-day th {
        padding: 10px;
        display: block;
    }

    .five-day tr {
        width: 25%;
        height: 100%;
        float: left;
    }

    .five-day td {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 25%;
        text-align: center;
    }
}
